<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubidots.ubidots" >

    <permission
        android:name="com.ubidots.ubidots.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.ubidots.ubidots.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/UbidotsTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/UbidotsTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerificationActivity"
            android:label="@string/title_activity_verification"
            android:theme="@style/UbidotsTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".UbidotsActivity"
            android:label="@string/title_activity_ubidots" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="here_goes_api_key" />

        <service
            android:name=".services.PushLocationService"
            android:enabled="true" >
        </service>

        <receiver android:name=".receivers.PushAlarmReceiver">
            <intent-filter>
                <action android:name="com.ubidots.ubidots.ACTION_PUSH_LOCATION_ALARM" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
